.flex {
  display: flex;
}

.flex-col {
  flex: 1;
}

.shortcut {
  line-height: .9;
  width: 100%;
}

table.shortcut > tbody > tr > td {
  border-bottom: 0 none black !important;
}

table.shortcut > tbody > tr > td:first-child {
  width: 0%;
  padding-right: 0 !important;
  text-align: right;

}

table.shortcut > tbody > tr > td:nth-child(2) {
  width: 0%;
  padding: 0 0 0 !important;
  font-weight: bold;
}

table.shortcut > tbody > tr > td:last-child {
  padding-left: 0.7em !important;
  width: 100%;
}
