:root {
    --r-heading-text-transform: none;
    --r-heading-margin: 20px 0 20px 0;
}

body {
  margin: 0 5%;
}

.reveal-viewport {
    overflow: auto;
}

.reveal {
  text-align: left;
  padding: 25px;
}

.subsection {
    margin: 50px 50px;
}

.reveal pre {
  box-shadow: none;
}

.reveal pre code {
  overflow: visible;
}

.reveal h1 {
    text-align: center;
    padding-top: 50px;
    margin: 100px 50px;
}

.reveal h2 {
    margin-top: 50px;
}

@media print {
  :root {
    --r-block-margin: 0px;
  }

  html:not(.print-pdf) h1 {
    text-align: center;
  }

  html:not(.print-pdf) dl {
      font-size: 20pt !important;
  }

  html:not(.print-pdf) p {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  html:not(.print-pdf) .reveal pre,
  html:not(.print-pdf) .reveal pre code {
      padding: 0;
      margin: 0;
      width: 100%;
  }
}
